# Tuple, 튜플

In [1]:
'''
Tuple
1. tuple()
2. ()
'''

print(type(tuple()))
print(type(()))

<class 'tuple'>
<class 'tuple'>

In [2]:
tuple_data = (1,2,3,4,5)

In [3]:
tuple_data

(1, 2, 3, 4, 5)

In [4]:
for i in tuple_data:
    print(i, end='\t')

1	2	3	4	5

In [5]:
print(7 in tuple_data)

False

In [6]:
tuple((1,3,'4'))

(1, 3, '4')

In [7]:
data = (1, '3', 5)
print(data[0])
print(len(data))
print(data[0::2])

1
3
(1, 5)

## +연산

In [8]:
print((1,2,3) + (4,5,6))
print((3,2,5) + (3,4,5))

(1, 2, 3, 4, 5, 6)
(3, 2, 5, 3, 4, 5)

## *연산

In [9]:
print((1,2,3) * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [10]:
print(data)
data[1] = 3 # immutable 객체 : (수정)불변객체

(1, '3', 5)

TypeError: 'tuple' object does not support item assignment

## 심화

**Packing(패킹) , Unpacking(언패킹)**

패킹: 하나의 변수에 여러개의 값을 넣는 것

언패킹: 패킹된 변수에서 여러 개의 값을 꺼내는 것

In [11]:
data = (1,2,3)
print(data)
print(type(data))

(1, 2, 3)
<class 'tuple'>

In [12]:
data = 1,2,3
print(data)
print(type(data))

(1, 2, 3)
<class 'tuple'>

In [13]:
d1, d2, d3 = data
print(d1)
print(d2)
print(d3)
print(type(d1))
print(type(d2))
print(type(d3))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>